.wrapper {
  display: flex;
}
.title {
  margin: 0 0 20px 0;
  font-size: 30px;
  font-weight: 500;
  color: rgb(237, 233, 1);
}
.cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(227, 227, 227);
}
.box {
  padding: 0 40px;
}
.additional {
  padding: 0 40px;
}
.additional ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  color: rgb(255, 251, 0);
  text-decoration: none;
}
.link:hover,
.link:focus {
  text-decoration: underline;
}

.goBack {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 36px;
  width: 60px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  border: none;
  background-color: rgb(51, 51, 51);
  color: rgb(237, 233, 1);
  transition: background-color 250ms ease-out;
}
.goBack:hover,
.goBack:focus {
  background-color: rgb(93, 93, 93);
}
